
 .highlighter {
    text-align: center;
    background-color: #18aebf;
    width: 50%;
    height: 178px;
    color: #ffffff;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1rem;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffffcf;
}
.loader img {
    position: relative;
    left: 45%;
    top: 40%;
    width: 100px;
}
.img-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
    font-family: Rubik, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    color: #394242;
    font-weight: 400;
}

.megamenu {
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: max-content;
    white-space: nowrap;
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

@media screen and (max-width: 600px) {
    .megamenu .dropdown-menu {
        background: none;
        border: none;
        width: 100%;
    }
}

.dropdown-menu:before {
    border-top: none;
}

.megamenu ul.list-unstyled li {
    margin-bottom: 0.3rem;
}

.simpletooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* If you want dots under the hoverable text */
}

.simpletooltip .simpletooltiptext {
    visibility: hidden;
    background-color: #275770;
    opacity: 0.85;
    color: #fff;
    border-radius: 6px;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -10.5rem;
    min-width: 20rem;
}

/* Show the tooltip text when you mouse over the tooltip container */
.simpletooltip:hover .simpletooltiptext {
    visibility: visible;
}

.simpletooltip .simpletooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #275770 transparent transparent transparent;
}

/* Tooltip container */
.ctooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.ctooltip .ctooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #275770;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ctooltip:hover .ctooltiptext {
    visibility: visible;
}

.ctooltip .ctooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #275770 transparent transparent transparent;
}

.card-header {
    margin-top: 15px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.color-black,
.color-black:hover {
    color: black;
    text-align: left;
}

.card-body {
    background-color: #ffffff;
}

.card-border-none {
    border-style: none;
}

.color-red {
    color: red;
}

.display-none {
    display: none;
}

.partner-li {
    margin-left: 10px;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

ul {
    padding-inline-start: 25px;
}

.center-text {
    text-align: center;
}

.big-text {
    height: calc(1.8em + 0.9rem + 2px);
    width: 100%;
}

#HW_badge {
    background: #18aebf !important;
    top: 2px !important;
}

#HW_badge_cont {
    display: unset !important;
}
.badge-primary {
    background-color: #18aebf;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
}

.lead {
    font-size: 1.1rem;
    font-weight: 400;
    color: #5c6b6b;
}

p {
    color: #5c6b6b;
}

.gray-700 {
    color: #5c6b6b;
}

.gray-400 {
    color: #a0acac;
}

.gray-600 {
    color: #6f8181;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.notify-badge {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #18aebf;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 5px 10px;
    font-size: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.alert-info {
    background-color: #f3fbfe;
    border-color: #275770;
    color: #275770;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

[type="text"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #18aebf;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    border-color: #18aebf;
}

.nav-pills .nav-link {
    border-left: 8px solid #fff;
}

.nav-pills .nav-link.active {
    color: #18aebf;
    background-color: #ffffff;
    border-left: 8px solid #18aebf;
    --tw-border-opacity: 1;
}

.plus-background {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23a5f4fd' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    padding: 30px;
    position: relative;
}
.plus-background-without-star {
    background-color: #ffffff;
    padding: 30px;
    position: relative;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
.hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.h-28 {
    height: 7rem;
}

.h-16 {
    height: 4rem;
}

.h-8 {
    height: 2rem;
}

.h-6 {
    height: 1.5rem;
}

.h-4 {
    height: 1rem;
}

.z-\[0\] {
    z-index: 0;
}

.left-\[0\] {
    left: 0px;
}

.top-\[0\] {
    top: 0px;
}

.h-full {
    height: 100%;
}

.absolute {
    position: absolute;
}

.w-full {
    width: 100%;
}

.rounded-full {
    border-radius: 9999px;
}

.absolute {
    position: absolute;
}

.z-\[10\] {
    z-index: 10;
}

.w-\[90\%\] {
    width: 90%;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

ol {
    counter-reset:item;
    margin:0;
    padding-left:0;
}
ol>li {
    counter-increment:item;
    list-style:none inside;
    margin: 8px 0;
    overflow: hidden;
    font-size: 16px !important;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
ol>li:before {
    content:counter(item) ;
    margin-right: 20px;
    padding: 8px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    background: #18aebf;
    color: #fff;
    text-align: center;
    font-weight: 600;
    float: left;
}
/*added for groove pop-up*/
.chat-btn {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 15px;
    background-color: #19455f;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    left: 30px;
    z-index: 1;
}
.chat-btn-inner {
    position: absolute;
    top: 12px;
    left: 11px;
    width: 32px;
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}
.svg-clr {
    fill: #fff;
}
#chatnowModal {
    top: 20px !important;
    left: 10px;
}
.chat-dialog {
    margin: 0 !important;
}
.chat-content {
    width: 80%;
    background-color: transparent;
    border: 0;
}
.chat-body {
    height: 730px;
    padding: 0;
}
@media (max-width: 767px) {
    #chatnowModal {
        top: 0px !important;
        left: 0;
    }
    #iframeModalWindow {
        width: 100%;
        height: 100%;
    }
}

/* Data-flow css */
#svgContainer{z-index:-10;position:absolute;opacity:1}@media (min-width:1199px){.gstf{margin-top:8px!important}}.gstf{margin-top:5.5px}.dashed-blue1{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:5}.dashed-blue2{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:5}.dashed-blue3{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:5}.dashed-blue4{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:5}.dashed-blue11{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:4}.dashed-blue21{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:4}.dashed-blue31{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:4}.dashed-blue41{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-linecap:none;stroke-dasharray:25 2;stroke-dashoffset:940;stroke-width:4}.c-dashed-line__dash{animation:c-dashed-line-path 40s ease-in-out infinite;fill:none;stroke-dasharray:5 0.5;stroke-width:6}@keyframes c-dashed-line-path{from{stroke-dashoffset:940}to{stroke-dashoffset:0}}#div_cust,#div_fra,#div_right_1,#div_right_2,#div_right_3,#div_right_4,#div_seller,#div_vendor{opacity:1;transition:opacity 1s}#div_cust.fade,#div_fra.fade,#div_right_1.fade,#div_right_2.fade,#div_right_3.fade,#div_right_4.fade,#div_seller.fade,#div_vendor.fade{transition:opacity 1s}#changeTextbt1{opacity:1;transition-duration:6s}#changeTextbt1.fade{opacity:.1;transition:opacity 3s}.fonts{font-size:14px}.shadow_card{background:#e5e5e5;padding:10px;border-radius:8px;border:0;margin-bottom:0;color:#495555}.color_1{filter:invert(27%) sepia(57%) saturate(505%) hue-rotate(162deg) brightness(98%) contrast(90%);width:22px;margin-top:-5px;margin-right:4px}.color_2{filter:invert(47%) sepia(5%) saturate(4591%) hue-rotate(159deg) brightness(95%) contrast(95%);width:22px;margin-top:-5px;margin-right:4px}.color_3{filter:invert(48%) sepia(97%) saturate(401%) hue-rotate(137deg) brightness(95%) contrast(92%);width:22px;margin-top:-5px;margin-right:4px}.color_white{filter:invert(69%) sepia(40%) saturate(14%) hue-rotate(161deg) brightness(91%) contrast(92%);width:12px;margin-top:0}.img1{width:60%;height:30px}.img{width:50%}.data_card{width:160px;height:82px;text-align:center;border-radius:8px!important;margin-bottom:30px!important}.btclass{margin-top:20px;font-size:18px;width:100%;background:#2b5778;padding-bottom:8px;padding-top:8px;font-weight:300;border-radius:8px}.btnext:hover,.btpre:hover{filter:invert(58%) sepia(86%) saturate(1784%) hue-rotate(142deg) brightness(90%) contrast(81%)}.bt{margin-right:10px;font-size:14px;text-align:center;width:auto;padding:1px!important}


#navbar-briq {
    overflow: hidden;
    background-color: #275770;
}

#navbar-briq p{
    text-align: center;
    margin-bottom: 0;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.cnt223 a {
    text-decoration: none;
}

.popup {
    width: 100%;
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
}

.cnt223 {
    min-width: 875px;
    width: 875px;
    min-height: 300px;
    margin: 100px auto;
    background-color: #3E4AA3;
    position: relative;
    z-index: 103;
    padding: 70px;
    border-radius: 5px;
}

@media only screen and (max-width: 780px) {
    .cnt223 {
        min-width: 85%;
        max-width: 100%;
        width:  85%;
    }
}

  @media only screen and (max-width: 560px) {
    .cnt223 {
        min-width: 85%;
        max-width: 100%;
        width: 100%;
        margin-top: 0px;
        padding:35px;
    }
    
    .img-briq-logo {
        max-width: 85% !important;
    }

    #popup-heading {
        font-size: 1.7rem;
    }
    
    #popup-text {
        color: #fff;
        font-weight: 100;
        font-size: 16px !important;
    }
}

#popup-heading {
    color: #fff;
    font-weight: 600;
}

#popup-text {
    color: #fff;
    font-weight: 100;
    font-size: 25px;
}

.btn-briq-custom {
    background-color: #5AFED5;
    border-radius: 2.3rem;
    color: #38418E;
}

.btn-briq-custom:hover {
    color: #fff;
}

.whiteincolor {
    color: white;
}

.img-briq-logo{
    max-width: 50%;
}