
<table  style="margin:0 auto; font-family:Verdana, Arial;border: 1px solid #e2e2e2;width: 600px" align="center" width="600" border="0" cellspacing="0" cellpadding="10" >
    <tr>
        <td style="font-size:15px; line-height:30px;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td width="600" align="center" valign="top" style="max-height: 300px;">
                        <img src="https://www.swipez.in/uploads/images/logos/1470286ed5729f51e8fe270b013ba58d2.jpg"/>
                    </td>

                </tr>
            </table>  </td>
    </tr>
    <tr>
        <td style="font-size:12px; line-height:20px;  border-bottom:1px #e2e2e2;background-color: #2a94a5;">
            <div style="text-align: center; ">
                <table  width="100%" cellspacing="0" cellpadding="5" style="color:#FFFFFF;font-size: 15px;line-height: 24px;">
                    <tr>
                        <td align="center">
                            Aloft Brunch
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Presented by DIGITALeDGE Media
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="font-size:12px; line-height:20px;  border-bottom:1px #e2e2e2;">
            <div style="float:left; width:280px; margin-right:5px;">
                <table width="600" border="0" cellspacing="0" cellpadding="5" style="color:#5b4d4b;font-size: 13px;line-height: 14px;">

                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Venue</b> :</td><td> Koramangala , 100 Ft road .Bangalore</td></tr>
                    
                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Start date</b> : </td><td>05-Oct-2016</td></tr>
                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Description </b> : </td><td>Sundays are FUN days !!!</td></tr>
                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Seat price</b> : </td><td>1000.00</td></tr>
                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Service charge & Taxes(15.00 %)</b> : </td><td>150.00</td></tr>
                    <tr><td style="width: 30px;"></td><td style="width: 150px;"> <b>Grand total</b> : </td><td>1150.00</td></tr>
                    
                </table>
            </div>
            
        </td>
    </tr>

    

    

    
    <tr id="couponapplied">
        <td style="color:#5b4d4b; line-height:30px; border-bottom:1px dashed #e2e2e2; border-top:1px dashed #e2e2e2; text-align:right; font-size:15px;background-color: #fcf8e3;">

            <span style="float: left;">Coupon discount: <b>300.00 Rs.  Brunch discount</b></span>
            <span style="float: right;">Coupon available</span>
        </td>
    </tr>
    <tr id="negative">
        <td style="">
            <div style="font-size:13px; color:#6E605D;"> 
                <b> Please note: No extra charges are applicable for paying online. </b>
            </div>
        </td>
    </tr>
    <tr id="negative">
        <td style="font-size:15px; color:#fb735d; line-height:20px; border-bottom:1px dashed #e2e2e2;border-top:1px dashed #e2e2e2; text-align:right; ">
            <br>
            <a href="https://www.swipez.in/patron/event/view/KiJFbcEzFbMy5rfShj1Bow" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px;background-color: #18aebf;color: #FFFFFF;padding: 7px 10px 7px 10px;text-decoration: none;font-family: Open Sans,sans-serif;float:right">
                <font face="Arial, Helvetica, sans-seri; font-size: 13px;" size="3">
                Book now</font>
            </a></td>
    </tr>

    

    

    <tr>
        <td style="font-size:15px; color:#fb735d; line-height:30px; "><table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td valign="top" style="border-bottom:1px dashed #e2e2e2;">
                        <div style="font-size:13px; color:#6E605D;"> 
                            If you are having trouble viewing this invoice in your email, you can use this link to view the same invoice  
                            <a href="https://www.swipez.in/patron/event/view/KiJFbcEzFbMy5rfShj1Bow">https://www.swipez.in/patron/event/view/KiJFbcEzFbMy5rfShj1Bow</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div style="font-size:13px; color:#6E605D;"> 
                            If you do not recognize the merchant - DIGITALeDGE Media OR have a query regarding this request, please <a href="mailto:support@swipez.in?Subject=Query regarding the Payment Request" class="example5"> contact us.</a> 
                        </div>
                    </td>
                </tr>
            </table></td>
    </tr>

</table>
