
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
    </head>

    <body>
        <table width="100" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#fbf8f8" >
            <tr>
                <td><table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:0 5% 18px;font:300 14px/18px 'Lucida Grande',Lucida Sans,Lucida Sans Unicode,sans-serif,Arial,Helvetica,Verdana,sans-serif;color:#333">
                        <tr>
                            <td width="35" height="75">&nbsp;</td>
                            <td width="294" style=" color:#4e4e4e; font-size:16px;">&nbsp;</td>
                            <td width="321" align="right"><img src="https://www.swipez.in/images/logo.png" width="210" height="55" /></td>
                        </tr>
                        <tr>
                            <td colspan="3" bgcolor="#2C5294"><img src="https://www.swipez.in/images/mbg.gif" height="1px" /></td>
                        </tr>
                        <tr>
                            <td colspan="3" valign="top"><table width="583" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td height="60" colspan="2" style=" color:#223e6e; font-size:15px;"><strong>Dear Merchant,</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style=" color:#4e4e4e; font-size:15px;">__MESSAGE__
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="290" style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                        <td width="293" style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                    </tr>
                                   
                                    
                                    <tr>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style=" color:#4e4e4e; font-size:15px;">Swipez Support</td>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                        <td style=" color:#4e4e4e; font-size:15px;">&nbsp;</td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </body>
</html>
