.dashboardInquiries {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0
}

.dashboardInquiries .disTable {
	display: table;
	width: 100%
}

.dashboardInquiries .disTable .disTableRow {
	display: table-row;
	float: left;
	width: 100%
}

.dashboardInquiries .disTable .disTableRow .disTableCell {
	display: block;
	float: left;
	width: 25%
}

.dashboardInquiries .disTable .disTableRow .cell-1 {
	width: 25%;
	margin-right: 2%
}

.dashboardInquiries .disTable .disTableRow .cell-2 {
	width: 16%;
	margin-right: 2%
}

.dashboardInquiries .disTable .disTableRow .cell-3 {
	width: 41%;
	margin-right: 2%
}

.dashboardInquiries .disTable .disTableRow .cell-4 {
	width: 12%
}

.dashboardInquiries .disTable .unreadInquiries {
	font-weight: bold;
	color: #666
}

.dashboardInquiries .inquiryHeading {
	font-size: 13px;
	font-size: .8125rem;
	padding: .9375rem 0 .375rem 0;
	font-weight: bold;
	color: #222;
	border-bottom: 2px solid #e5e5e5
}

.ie8 .dashboardInquiries .inquiryHeading {
	padding: 15px 0 6px 0
}

.dashboardInquiries .inquiryDetail {
	font-size: 14px;
	font-size: .875rem;
	padding: .75rem 0;
	color: #757575;
	border-bottom: 1px solid #e5e5e5
}

.ie8 .dashboardInquiries .inquiryDetail {
	padding: 12px 0
}

.dashboardInquiries .inquiryDetail .fa-clock-o {
	color: #ee3e44;
	font-size: 18px;
	font-size: 1.125rem
}

.dashboardInquiries .inquiryDetail .fa-reply {
	color: #00bd70;
	font-size: 18px;
	font-size: 1.125rem;
	margin-right: .3125rem
}

.ie8 .dashboardInquiries .inquiryDetail .fa-reply {
	margin-right: 5px
}

.dashboardInquiries .inquiryDetail .inqName {
	font-size: 15px;
	font-size: .9375rem
}

.dashboardInquiries .inquiryDetail .inqLocation {
	font-size: 13px;
	font-size: .8125rem
}

.dashboardInquiries .inquiryDetail a {
	color: #757575
}

.dashboardInquiries .inquiryDetail a:hover {
	color: #010ec0;
	text-decoration: underline
}

.dashboardBuyleads {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0
}

.dashboardBuyleads .buyleadsRow {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	font-size: 14px;
	font-size: .875rem;
	padding: 1.125rem 0 1rem 0;
	color: #757575;
	border-bottom: 1px solid #e5e5e5
}

.ie8 .dashboardBuyleads .buyleadsRow {
	padding: 18px 0 16px 0
}

.dashboardBuyleads .buyleadsRow .buyleadNumber {
	width: 3%;
	float: left;
	margin-right: 2%
}

.dashboardBuyleads .buyleadsRow .buyleadDetail {
	width: 75%;
	float: left
}

.dashboardBuyleads .buyleadsRow .buyleadDetail p {
	margin-bottom: .5rem
}

.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail p {
	margin-bottom: 8px
}

.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation {
	padding-right: 1.25rem;
	border-right: 1px solid #e5e5e5
}

.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation {
	padding-right: 20px
}

.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation .fa-map-marker {
	color: #e62e04;
	font-size: 23px;
	font-size: 1.4375rem
}

.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
	padding-left: 1.25rem;
	color: #bfbfbf
}

.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
	padding-left: 20px
}

.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate span {
	color: #010ec0
}

.dashboardBuyleads .buyleadsRow .buyleadButton {
	margin-top: 1.0625rem;
	float: right;
	width: 20%
}

.ie8 .dashboardBuyleads .buyleadsRow .buyleadButton {
	margin-top: 17px
}

.profileStrength {
	float: right;
	font-size: 14px;
	font-size: .875rem;
	margin-top: .1875rem;
	color: #a6a6a6
}

.ie8 .profileStrength {
	margin-top: 3px
}

.profileStrength .strengthBar {
	position: relative;
	width: 8.4375rem;
	height: .5rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	margin: .375rem .3125rem 0 .3125rem;
	background-color: #e7e7e7;
	float: left
}

.ie8 .profileStrength .strengthBar {
	width: 135px
}

.ie8 .profileStrength .strengthBar {
	height: 8px
}

.ie8 .profileStrength .strengthBar {
	margin: 6px 5px 0 5px
}

.profileStrength .strengthBar .strengthBarProgress {
	float: left;
	width: 0;
	height: 100%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px
}

.profileStrength .strengthBar .strengthColor {
	background-color: #ce7465
}

.profileStrength .strengthBar .strengthPercent {
	position: absolute;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px
}

.profileStrength .strengthLabel {
	float: left
}

.profileStrength .strengthNumeber {
	float: left;
	color: #4b4b4b
}

.profileStrength .profileEdit {
	float: left;
	background-color: #333;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
	font-size: .8125rem;
	padding: .125rem .625rem;
	margin-left: 1.25rem
}

.ie8 .profileStrength .profileEdit {
	padding: 2px 10px
}

.ie8 .profileStrength .profileEdit {
	margin-left: 20px
}

.dashboardContact {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.dashboardContact .contactDetailHeading {
	font-size: 19px;
	font-size: 1.1875rem;
	padding-bottom: .5rem;
	color: #fff;
	border-bottom: 1px solid #fff
}

.ie8 .dashboardContact .contactDetailHeading {
	padding-bottom: 8px
}

.dashboardContact ul {
	list-style-type: none;
	margin-top: .3125rem
}

.ie8 .dashboardContact ul {
	margin-top: 5px
}

.dashboardContact ul li {
	width: 100%;
	float: left;
	font-size: 15px;
	font-size: .9375rem;
	padding: .3125rem;
	color: #fff
}

.ie8 .dashboardContact ul li {
	padding: 5px
}

.dashboardContact ul li span {
	float: left
}

.dashboardContact .personalDetails {
	background-color: #65cea7;
	float: left;
	width: 49.5%;
	margin-right: 1%;
	padding: 1.25rem .625rem
}

.ie8 .dashboardContact .personalDetails {
	padding: 20px 10px
}

.dashboardContact .personalDetails .verification {
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-size: .6875rem;
	padding: 0 .125rem;
	margin-top: .1875rem;
	width: 4.625rem;
	float: right;
	text-align: center
}

.ie8 .dashboardContact .personalDetails .verification {
	padding: 0 2px
}

.ie8 .dashboardContact .personalDetails .verification {
	margin-top: 3px
}

.ie8 .dashboardContact .personalDetails .verification {
	width: 74px
}

.dashboardContact .personalDetails .verified {
	color: #15960c
}

.dashboardContact .personalDetails .notVerified {
	color: #e62e04;
	cursor: pointer
}

.dashboardContact .businessDetails {
	background-color: #6bafbd;
	float: left;
	width: 49.5%;
	padding: 1.25rem .625rem
}

.ie8 .dashboardContact .businessDetails {
	padding: 20px 10px
}

.requestQuotation {
	float: left;
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: .3125rem
}

.ie8 .requestQuotation {
	padding-bottom: 5px
}

.requestQuotation .clickQuotationForm {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0
}

.requestQuotation .requestHeading {
	color: #000;
	font-size: 17px;
	font-size: 1.0625rem
}

.requestQuotation .requestHeading .requestSideHeading {
	color: #66666a;
	font-weight: normal;
	font-size: 14px;
	font-size: .875rem;
	margin-left: 1.625rem
}

.ie8 .requestQuotation .requestHeading .requestSideHeading {
	margin-left: 26px
}

.requestQuotation p {
	font-size: 13px;
	font-size: .8125rem
}

.requestQuotation .requestQuotationContainer {
	width: 100%;
	float: left;
	margin: 1.875rem 0;
	position: relative
}

.ie8 .requestQuotation .requestQuotationContainer {
	margin: 30px 0
}

.requestQuotation .requestQuotationContainer .requestFullForm {
	padding-top: .625rem;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	z-index: 1;
	width: 100%
}

.ie8 .requestQuotation .requestQuotationContainer .requestFullForm {
	padding-top: 10px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm {
	width: 65%
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .fieldHeading {
	font-size: 14px;
	font-size: .875rem;
	color: #000;
	font-weight: bold
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup {
	width: 100%;
	float: left
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .quotationFormHide {
	color: #15960c;
	font-size: 14px;
	font-size: .875rem;
	font-weight: bold;
	background-color: #fff;
	float: right;
	margin-top: 1.875rem;
	cursor: pointer;
	position: absolute;
	right: 15px;
	bottom: 15px
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .quotationFormHide {
	margin-top: 30px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .quotationFormHide .fa-caret-up {
	font-size: 16px;
	font-size: 1rem
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup {
	margin-bottom: .4375rem;
	width: 100%;
	float: left
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup {
	margin-bottom: 7px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .infoMsg {
	float: left;
	width: 100%;
	color: #9e9e9e;
	line-height: 15px;
	font-size: 12px;
	font-size: .75rem;
	margin-top: .3125rem
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .infoMsg {
	margin-top: 5px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntL {
	width: 49.15254%;
	float: left;
	margin-right: 1.69492%;
	float: left
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntR {
	width: 49.15254%;
	float: left;
	margin-right: 1.69492%;
	float: left;
	margin: 0
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup label {
	width: 100%;
	font-size: 15px;
	font-size: .9375rem;
	line-height: 42px;
	color: #222
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup label .medentry {
	color: #e62e04
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formControl {
	width: 100%;
	height: 42px;
	border: 1px solid #d1d1d1;
	color: #666;
	padding: .6875rem .9375rem;
	@in border-radius(2px);
	font-size: 14px;
	font-size: .875rem
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formControl {
	padding: 11px 15px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .currencyWidth {
	width: 87%
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .currencyLabal {
	width: 11%;
	display: inline-block
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup textarea {
	line-height: 20px!important;
	font-family: "Open Sans", sans-serif;
	height: 125px!important
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .multipleInputBox {
	width: 100%;
	float: left;
	margin-bottom: .4375rem
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .multipleInputBox {
	margin-bottom: 7px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .addMoreBtn {
	font-size: 13px;
	font-size: .8125rem;
	cursor: pointer;
	margin-bottom: .625rem;
	float: right;
	color: #010ec0
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .addMoreBtn {
	margin-bottom: 10px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .labelType {
	width: 100%;
	float: left;
	font-size: 15px;
	font-size: .9375rem;
	color: #222
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .radioBtn {
	display: inline-block;
	line-height: 42px;
	padding: 0 .625rem;
	color: #a1a1a1
}

.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .radioBtn {
	padding: 0 10px
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .radioBtn:first-child {
	padding-left: 0
}

.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .reqSecBox {
	width: 40%;
	float: right
}

.dottedDivider {
	width: 100%;
	float: left;
	height: 1px;
	border-bottom: 1px dashed #ddd
}

.lastUpdatedProduct {
	width: 100%;
	float: left
}

.lastUpdatedProduct .lastUpdatedHeading {
	color: #000;
	font-size: 17px;
	font-size: 1.0625rem
}

.lastUpdatedProduct .lastUpdatedHeading {
	color: #000;
	font-size: 17px;
	font-size: 1.0625rem;
	margin-top: 2.1875rem;
	padding-bottom: .625rem
}

.ie8 .lastUpdatedProduct .lastUpdatedHeading {
	margin-top: 35px
}

.ie8 .lastUpdatedProduct .lastUpdatedHeading {
	padding-bottom: 10px
}

.lastUpdatedProduct .updatedProductSlider {
	width: 100%;
	float: left;
	padding: 0 1.875rem;
	margin-bottom: .625rem
}

.ie8 .lastUpdatedProduct .updatedProductSlider {
	padding: 0 30px
}

.ie8 .lastUpdatedProduct .updatedProductSlider {
	margin-bottom: 10px
}

.lastUpdatedProduct .updatedProductSlider .slider-item img {
	max-width: 100%;
	height: 9.4375rem;
	margin: 0 auto
}

.ie8 .lastUpdatedProduct .updatedProductSlider .slider-item img {
	height: 151px
}

.lastUpdatedProduct .updatedProductSlider .slider-item .img-not-found {
	width: 100%;
	height: 9.4375rem;
	background: #eee;
	text-align: center;
	display: table;
	vertical-align: middle;
	float: left
}

.ie8 .lastUpdatedProduct .updatedProductSlider .slider-item .img-not-found {
	height: 151px
}

.lastUpdatedProduct .updatedProductSlider .slider-item .img-not-found .imgbg {
	display: table-cell;
	vertical-align: middle;
	color: #adadad;
	font-size: 20px;
	font-size: 1.25rem
}

.lastUpdatedProduct .updatedProductSlider .slider-item .productName {
	font-size: 16px;
	font-size: 1rem;
	color: #010ec0;
	text-align: center;
	width: 100%;
	float: left;
	margin-top: .625rem
}

.ie8 .lastUpdatedProduct .updatedProductSlider .slider-item .productName {
	margin-top: 10px
}

.modal-box {
	width: 35%
}

.verifyForm {
	width: 80%;
	margin: 0 auto
}

.verifyForm .intl-tel-input {
	width: 100%;
	margin-top: .625rem
}

.ie8 .verifyForm .intl-tel-input {
	margin-top: 10px
}

.verifyForm .intl-tel-input .selected-flag .iti-flag {
	margin-top: .875rem
}

.ie8 .verifyForm .intl-tel-input .selected-flag .iti-flag {
	margin-top: 14px
}

.verifyForm .intl-tel-input .selected-flag .selected-dial-code {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: .75rem
}

.ie8 .verifyForm .intl-tel-input .selected-flag .selected-dial-code {
	margin-top: 12px
}

.verifyForm .intl-tel-input .selected-flag .iti-arrow {
	margin-top: 1.25rem;
	top: 0;
	bottom: 0
}

.ie8 .verifyForm .intl-tel-input .selected-flag .iti-arrow {
	margin-top: 20px
}

.verifyForm .intl-tel-input .country-list {
	white-space: normal;
	overflow-x: hidden;
	width: 330px;
	top: 42px
}

.verifyForm .intl-tel-input.separate-dial-code .selected-flag {
	background: transparent
}

.verifyForm .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background: transparent
}

.verifyForm .formGroup {
	width: 100%;
	float: left;
	position: relative
}

.verifyForm .otpText {
	font-size: 13px;
	font-size: .8125rem;
	margin-top: .625rem
}

.ie8 .verifyForm .otpText {
	margin-top: 10px
}

.verifyForm .otpText .userNumber {
	color: #010ec0
}

.middle-container-graph {
	width: 100%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	border: 0;
	padding: 0;
	margin-bottom: .625rem
}

.ie8 .middle-container-graph {
	margin-bottom: 10px
}

.middle-container-graph .horizontal-grpah {
	float: left;
	width: 68%;
	background-color: #FFF;
	border: solid 1px #bab6b6;
	padding: .9375rem .625rem .625rem .625rem
}

.ie8 .middle-container-graph .horizontal-grpah {
	padding: 15px 10px 10px 10px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah {
	height: 70px;
	margin-bottom: .3125rem
}

.ie8 .middle-container-graph .horizontal-grpah .inquiry-grpah {
	margin-bottom: 5px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox {
	color: #757575;
	width: 33%;
	float: left;
	text-align: center
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .inqNumber {
	font-size: 25px;
	font-size: 1.5625rem
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .positiveInq {
	color: #15960c
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .totalInq span {
	line-height: 21px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .negativeInq {
	color: #e62e04
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-long-arrow-down {
	font-size: 11px;
	font-size: .6875rem;
	vertical-align: 1px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-long-arrow-up {
	font-size: 11px;
	font-size: .6875rem;
	vertical-align: 2px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-smile-o,
.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-frown-o {
	font-size: 21px;
	font-size: 1.3125rem;
	color: #ffa500;
	vertical-align: middle;
	margin-top: -0.125rem
}

.ie8 .middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-smile-o,
.ie8 .middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBox .fa-frown-o {
	margin-top: -2px
}

.middle-container-graph .horizontal-grpah .inquiry-grpah .inquiryBoxBold {
	color: #000
}

.middle-container-graph .horizontal-grpah .statsDay {
	margin: .6875rem 0 0 .625rem
}

.ie8 .middle-container-graph .horizontal-grpah .statsDay {
	margin: 11px 0 0 10px
}

.middle-container-graph .vertical-graph {
	float: right;
	width: 31%;
	background-color: #0060fd;
	position: relative;
	border: solid 1px #bab6b6;
	height: 465px;
	padding-top: 5.625rem
}

.ie8 .middle-container-graph .vertical-graph {
	padding-top: 90px
}

.middle-container-graph .vertical-graph .vgHead {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: #FFF;
	text-align: left;
	padding: .625rem .625rem .625rem .625rem
}

.ie8 .middle-container-graph .vertical-graph .vgHead {
	padding: 10px 10px 10px 10px
}

.middle-container-graph .vertical-graph .vgHead .title {
	width: 100%;
	float: left;
	font-size: 20px;
	font-size: 1.25rem
}

.middle-container-graph .vertical-graph .vgHead .subTitle {
	width: 100%;
	float: left;
	font-size: 13px;
	font-size: .8125rem
}

.middle-container-graph .vertical-graph .vgHead .totalInq {
	width: 100%;
	float: left;
	font-size: 30px;
	font-size: 1.875rem
}

.middle-container-graph .vertical-graph .downloadStats {
	width: 1.5625rem;
	height: 1.3125rem;
	background: #4fc1e9;
	position: absolute;
	right: 10px;
	top: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	text-align: center
}

.ie8 .middle-container-graph .vertical-graph .downloadStats {
	width: 25px
}

.ie8 .middle-container-graph .vertical-graph .downloadStats {
	height: 21px
}

.middle-container-graph .vertical-graph .downloadStats .fa-arrow-down {
	color: #fff
}

.middle-container-graph .vertical-graph .graphCnt {
	width: 100%;
	float: left;
	padding: .625rem
}

.ie8 .middle-container-graph .vertical-graph .graphCnt {
	padding: 10px
}

.middle-container-graph .vertical-graph .response {
	width: 100%;
	float: left;
	background-color: #ffde75;
	padding: .3125rem .5rem;
	font-size: 13px;
	font-size: .8125rem;
	font-weight: bold;
	color: #000;
	border-bottom: solid 1px #fff
}

.ie8 .middle-container-graph .vertical-graph .response {
	padding: 5px 8px
}

.middle-container-graph .vertical-graph .response .title {
	float: left;
	padding: 1.4375rem 1.5625rem 0 0;
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal!important
}

.ie8 .middle-container-graph .vertical-graph .response .title {
	padding: 23px 25px 0 0
}

.middle-container-graph .vertical-graph .response .rate {
	width: 60px;
	height: 60px;
	float: left
}

.middle-container-graph .vertical-graph .feedback {
	width: 100%;
	float: left;
	background-color: #ffde75;
	padding: 1rem .5rem;
	font-size: 13px;
	font-size: .8125rem;
	font-weight: bold;
	color: #000
}

.ie8 .middle-container-graph .vertical-graph .feedback {
	padding: 16px 8px
}

.middle-container-graph .vertical-graph .feedback .title {
	float: left;
	line-height: 15px;
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal!important
}

.middle-container-graph .vertical-graph .feedback .thumbs {
	float: left;
	margin-left: .3125rem;
	font-size: 11px;
	font-size: .6875rem
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs {
	margin-left: 5px
}

.middle-container-graph .vertical-graph .feedback .thumbs .thumbsUpBg {
	background: #5cbb00;
	text-align: center;
	width: .9375rem;
	height: .9375rem;
	margin-right: .1875rem;
	line-height: 14px;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	float: left
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsUpBg {
	width: 15px
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsUpBg {
	height: 15px
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsUpBg {
	margin-right: 3px
}

.middle-container-graph .vertical-graph .feedback .thumbs .thumbsDownBg {
	background: #909090;
	text-align: center;
	width: .9375rem;
	height: .9375rem;
	margin-right: .1875rem;
	line-height: 14px;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	float: left
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsDownBg {
	width: 15px
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsDownBg {
	height: 15px
}

.ie8 .middle-container-graph .vertical-graph .feedback .thumbs .thumbsDownBg {
	margin-right: 3px
}

.contactBuyer {
	width: 69%;
	padding: .9375rem
}

.ie8 .contactBuyer {
	padding: 15px
}

.contactBuyer .tabCnt {
	width: 100%;
	float: left;
	padding: .375rem
}

.ie8 .contactBuyer .tabCnt {
	padding: 6px
}

.contactBuyer .tabCnt ul {
	width: 100%;
	float: left;
	list-style: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	padding: .3125rem 0;
	background-color: #eee;
	position: relative
}

.ie8 .contactBuyer .tabCnt ul {
	padding: 5px 0
}

.contactBuyer .tabCnt ul li {
	float: left;
	padding: .625rem 1.25rem;
	color: #847e7e;
	font-size: 17px;
	font-size: 1.0625rem;
	position: relative;
	font-weight: bold
}

.ie8 .contactBuyer .tabCnt ul li {
	padding: 10px 20px
}

.contactBuyer .tabCnt ul li.active {
	color: #000
}

.contactBuyer .tabCnt ul li i.fa-angle-right {
	font-size: 25px;
	color: #bbb;
	position: absolute;
	right: -5px;
	top: 10px
}

.contactBuyer .tabCnt ul .close {
	font-size: 30px;
	font-size: 1.875rem;
	color: #999;
	cursor: pointer;
	position: absolute;
	transition: all .2s;
	right: 10px;
	top: 6px
}

.contactBuyer .tabCnt ul .close:hover {
	color: #555
}

.contactBuyer .buyLeads {
	width: 100%;
	float: left
}

.contactBuyer .buyLeads ul {
	width: 100%;
	float: left;
	list-style: none
}

.contactBuyer .buyLeads ul li {
	width: 33.333%;
	float: left;
	padding: .375rem
}

.ie8 .contactBuyer .buyLeads ul li {
	padding: 6px
}

.contactBuyer .buyLeads ul li .buyLeadBox {
	width: 100%;
	float: left;
	background-color: #eee;
	padding: .9375rem
}

.ie8 .contactBuyer .buyLeads ul li .buyLeadBox {
	padding: 15px
}

.contactBuyer .buyLeads ul li .buyLeadBox .tltle {
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: .625rem;
	font-size: 19px;
	font-size: 1.1875rem;
	text-align: center;
	font-weight: bold;
	color: #222
}

.ie8 .contactBuyer .buyLeads ul li .buyLeadBox .tltle {
	margin-bottom: 10px
}

.contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt {
	width: 100%;
	float: left;
	text-align: center;
	padding: .9375rem 1.5625rem .3125rem 1.5625rem
}

.ie8 .contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt {
	padding: 15px 25px 5px 25px
}

.contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt .subTltle {
	width: 100%;
	float: left;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	color: #222
}

.contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt .price {
	width: 100%;
	float: left;
	color: #ef6c0f;
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: bold
}

.contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt .btn {
	width: 100%;
	font-weight: bold
}

.contactBuyer .buyLeads ul li .buyLeadBox .bottomInfoCnt .btn.btn-green {
	background-color: #00a63f
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle {
	width: 138px;
	height: 138px;
	margin: 0 auto;
	background-color: #FFF;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	padding: .3125rem;
	box-shadow: 3px 5px 3px #d5d5d5
}

.ie8 .contactBuyer .buyLeads ul li .buyLeadBox .cercle {
	padding: 5px
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .number {
	font-size: 30px;
	font-size: 1.875rem;
	margin-top: 2rem;
	line-height: 28px
}

.ie8 .contactBuyer .buyLeads ul li .buyLeadBox .cercle .number {
	margin-top: 32px
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .text {
	font-size: 15px;
	font-size: .9375rem
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .innerCercle {
	width: 128px;
	height: 128px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	display: inline-block
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .innerCercle.greenCercle {
	background-color: #49cd59;
	border: solid 3px #2c7334
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .innerCercle.yellowCercle {
	background-color: #f98911;
	border: solid 3px #a45807
}

.contactBuyer .buyLeads ul li .buyLeadBox .cercle .innerCercle.redCercle {
	background-color: #df3535;
	border: solid 3px #9f1f1f
}

.contactBuyer .info {
	width: 100%;
	float: left;
	text-align: center;
	color: #000;
	padding: .3125rem 0 .625rem 0;
	font-size: 13px;
	font-size: .8125rem
}

.ie8 .contactBuyer .info {
	padding: 5px 0 10px 0
}

.contactBuyer .freePoints {
	width: 100%;
	float: left;
	color: #fff;
	background-color: #7e7e7e;
	font-size: 13px;
	font-size: .8125rem;
	padding: .4375rem .9375rem;
	margin-bottom: .25rem
}

.ie8 .contactBuyer .freePoints {
	padding: 7px 15px
}

.ie8 .contactBuyer .freePoints {
	margin-bottom: 4px
}

.contactBuyer .freePoints i.fa-star {
	font-size: 10px;
	font-size: .625rem;
	margin-right: .3125rem
}

.ie8 .contactBuyer .freePoints i.fa-star {
	margin-right: 5px
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: 0
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	border: 1px solid #ddd;
	margin: 0 .625rem;
	padding: 1.25rem;
	display: none
}

.ie8 .slick-slide {
	margin: 0 10px
}

.ie8 .slick-slide {
	padding: 20px
}

[dir="rtl"] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.slick-loading .slick-list {
	background: #fff slick-image-url("https://tiimg.tistatic.com/new_website1/my-tradeindia/images/ajax-loader.gif") center center no-repeat
}

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: 0;
	outline: 0
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: 0;
	background: transparent;
	color: transparent
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25
}

.slick-prev:before,
.slick-next:before {
	font-family: slick;
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: .75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-prev {
	background: url('https://tiimg.tistatic.com/new_website1/my-tradeindia/images/header-footer-s55ed88050c.png') 0 -1024px no-repeat!important;
	width: .8125rem;
	height: 1.6875rem;
	left: -30px
}

@media(min--moz-device-pixel-ratio:3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:3),
(min-device-pixel-ratio:3),
(min-resolution:3dppx) {
	.slick-prev {
		background: url('https://tiimg.tistatic.com/new_website1/my-tradeindia/images/header-footer-2x-sa14fde4547.png')!important;
		background-position: 0 -1024px!important;
		background-size: 107px 2367px!important;
		background-repeat: no-repeat!important
	}
}

.ie8 .slick-prev {
	width: 13px
}

.ie8 .slick-prev {
	height: 27px
}

.slick-next {
	background: url('https://tiimg.tistatic.com/new_website1/my-tradeindia/images/header-footer-s55ed88050c.png') 0 -1607px no-repeat!important;
	width: .8125rem;
	height: 1.6875rem;
	right: -30px
}

@media(min--moz-device-pixel-ratio:3),
(-o-min-device-pixel-ratio:2.6 / 2),
(-webkit-min-device-pixel-ratio:3),
(min-device-pixel-ratio:3),
(min-resolution:3dppx) {
	.slick-next {
		background: url('https://tiimg.tistatic.com/new_website1/my-tradeindia/images/header-footer-2x-sa14fde4547.png')!important;
		background-position: 0 -1607px!important;
		background-size: 107px 2367px!important;
		background-repeat: no-repeat!important
	}
}

.ie8 .slick-next {
	width: 13px
}

.ie8 .slick-next {
	height: 27px
}

.inqQusInfo .fa-question-circle {
	color: #666
}

.inqQusInfo .tooltip .tooltiptext {
	z-index: 4;
	font-size: 13px;
	font-size: .8125rem;
	line-height: normal;
	padding: .3125rem;
	margin-left: -8.125rem;
	width: 260px
}

.ie8 .inqQusInfo .tooltip .tooltiptext {
	padding: 5px
}

.ie8 .inqQusInfo .tooltip .tooltiptext {
	margin-left: -130px
}

.inqQusInfo .tooltip .tooltiptext.gray {
	background-color: #666;
	color: #FFF
}

.inqQusInfo .tooltip .tooltip-top::after {
	border-color: #666 transparent transparent transparent
}

.inqQusInfo .tooltip .tooltip-bottom::after {
	border-color: transparent transparent #666 transparent
}

@media(max-width:75rem) {
	.dashboardBuyleads .buyleadsRow .buyleadNumber {
		width: 5%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 68%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation,
	.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
		display: block;
		width: 100%;
		border: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation,
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
		padding: 6px 0
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 24%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton .btn {
		padding: .625rem
	}
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadButton .btn {
		padding: 10px
	}
	.dashboardContact ul li span {
		width: 100%
	}
	.dashboardContact .personalDetails .verification {
		float: left
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm {
		width: 80%
	}
}

@media(max-width:64rem) {
	.dashboardContact ul li span {
		width: auto;
		margin-right: .625rem
	}
	.ie8 .dashboardContact ul li span {
		margin-right: 10px
	}
	.middle-container-graph .horizontal-grpah {
		width: 66%
	}
	.middle-container-graph .vertical-graph {
		width: 33%
	}
	.modal-box {
		width: 50%
	}
}

@media(max-width:48rem) {
	.modal-box {
		width: 70%
	}
	.middle-container-graph .horizontal-grpah {
		width: 65%
	}
	.middle-container-graph .vertical-graph {
		width: 34%
	}
}

@media(max-width:40rem) {
	.dashboardInquiries .inquiryHeading {
		display: none!important
	}
	.dashboardInquiries .disTable .disTableRow .cell-1,
	.dashboardInquiries .disTable .disTableRow .cell-2,
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		margin-right: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-1,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-2,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-3,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-4 {
		padding: 6px 0
	}
	.dashboardInquiries .disTable .disTableRow .cell-1 {
		width: 75%
	}
	.dashboardInquiries .disTable .disTableRow .cell-2 {
		width: 25%
	}
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		width: 100%
	}
	.middle-container-graph .horizontal-grpah {
		width: 58%
	}
	.middle-container-graph .horizontal-grpah .inquiry-grpah {
		height: 100px
	}
	.middle-container-graph .vertical-graph {
		width: 41%;
		height: 496px
	}
	.middle-container-graph .vertical-graph .response .title {
		width: 85px;
		text-align: center;
		padding: .5rem .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		padding: 8px 10px
	}
	.middle-container-graph .vertical-graph .response .rate {
		float: right
	}
	.middle-container-graph .vertical-graph .feedback .title {
		width: 100%;
		text-align: center;
		margin-bottom: .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .feedback .title {
		margin-bottom: 10px
	}
	.middle-container-graph .vertical-graph .feedback .thumbs {
		margin: 0 auto;
		width: 100px;
		display: block;
		float: none
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 62%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 30%
	}
	.profileStrength {
		float: left;
		width: 100%;
		margin-bottom: .625rem
	}
	.ie8 .profileStrength {
		margin-bottom: 10px
	}
	.dashboardContact {
		display: inherit
	}
	.dashboardContact .personalDetails {
		width: 100%;
		margin: 0 0 .625rem 0
	}
	.ie8 .dashboardContact .personalDetails {
		margin: 0 0 10px 0
	}
	.dashboardContact .businessDetails {
		width: 100%
	}
	.requestQuotation .requestHeading .requestSideHeading {
		display: block;
		margin-left: 0
	}
	.ie8 .requestQuotation .requestHeading .requestSideHeading {
		margin-left: 0
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm {
		width: 100%
	}
}

@media(max-width:30rem) {
	.dashboard-bar .dashboard-bar-bg .account-manager-area .account-manager-label {
		width: 70%;
		margin-right: 0
	}
	.ie8 .dashboard-bar .dashboard-bar-bg .account-manager-area .account-manager-label {
		margin-right: 0
	}
	.middle-container-graph .horizontal-grpah {
		width: 100%
	}
	.middle-container-graph .vertical-graph {
		width: 100%;
		margin-top: .625rem;
		height: 465px
	}
	.ie8 .middle-container-graph .vertical-graph {
		margin-top: 10px
	}
	.middle-container-graph .vertical-graph .response .title {
		width: auto;
		text-align: left;
		padding: 1.25rem 0 0 0;
		margin-right: .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		padding: 20px 0 0 0
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		margin-right: 10px
	}
	.middle-container-graph .vertical-graph .response .rate {
		float: left
	}
	.middle-container-graph .vertical-graph .feedback {
		text-align: left
	}
	.middle-container-graph .vertical-graph .feedback .title {
		width: auto;
		margin-bottom: 0
	}
	.middle-container-graph .vertical-graph .feedback .thumbs {
		margin-left: .625rem;
		width: 100px;
		display: block;
		float: left
	}
	.ie8 .middle-container-graph .vertical-graph .feedback .thumbs {
		margin-left: 10px
	}
	.main-collaps-container .collapse-bar .rightbar .rightbar-box {
		width: 100%;
		margin: .5% 0
	}
	.dashboardInquiries .disTable .disTableRow .cell-1,
	.dashboardInquiries .disTable .disTableRow .cell-2,
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		width: 100%;
		margin-right: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-1,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-2,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-3,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-4 {
		padding: 6px 0
	}
	.dashboardBuyleads .buyleadsRow .buyleadNumber {
		width: 8%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 90%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 100%;
		text-align: center
	}
	.profileStrength .strengthLabel {
		width: 100%
	}
	.profileStrength .profileEdit {
		margin-left: .3125rem
	}
	.ie8 .profileStrength .profileEdit {
		margin-left: 5px
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntL,
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntR {
		width: 100%;
		margin: .625rem 0 0 0
	}
	.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntL,
	.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntR {
		margin: 10px 0 0 0
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .radioBtn {
		line-height: 20px
	}
	.modal-box {
		width: 90%
	}
	.verifyForm {
		width: 100%
	}
}

.formGroup {
	margin-bottom: .4375rem;
	width: 100%;
	float: left
}

.ie8 .formGroup {
	margin-bottom: 7px
}

.formGroup .error {
	color: #e31a22;
	font-size: 13px;
	font-size: .8125rem;
	line-height: normal
}

.formGroup .labelCnt {
	width: 33.89831%;
	float: left;
	margin-right: 1.69492%;
	float: left
}

.formGroup .formCnt {
	width: 64.40678%;
	float: left;
	margin-right: 1.69492%;
	float: left;
	margin: 0
}

.formGroup .formCnt .labelText {
	font-size: 15px;
	font-size: .9375rem;
	color: #9e9e9e
}

.formGroup label {
	width: 100%;
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 42px;
	color: #666
}

.formGroup label .medentry {
	color: #e62e04
}

.formGroup .formControl {
	width: 100%;
	height: 42px;
	border: 1px solid #d1d1d1;
	color: #666;
	padding: .625rem .9375rem;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	font-size: .875rem
}

.ie8 .formGroup .formControl {
	padding: 10px 15px
}

.formGroup .formControl3 {
	width: 33.333%;
	float: left;
	margin-top: .625rem
}

.ie8 .formGroup .formControl3 {
	margin-top: 10px
}

.formGroup .formControl3.second {
	padding-right: .3125rem
}

.ie8 .formGroup .formControl3.second {
	padding-right: 5px
}

.price {
	position: relative
}

.price .formControl {
	padding-left: 3.125rem
}

.ie8 .price .formControl {
	padding-left: 50px
}

.price .rupee {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	height: 40px;
	line-height: 42px;
	text-align: center;
	background-color: #eee;
	font-size: 16px;
	font-size: 1rem;
	color: #9e9e9e;
	cursor: pointer
}

.priceUpdate {
	width: 70%
}

.priceUpdate .scroll-container {
	max-height: 355px!important
}

.priceUpdate .inside-container {
	width: 100%!important
}

.priceUpdate .subHead {
	font-size: 15px;
	font-size: .9375rem;
	padding-top: .625rem
}

.ie8 .priceUpdate .subHead {
	padding-top: 10px
}

.priceUpdate .leftImg {
	width: 23%;
	margin-right: 3%;
	text-align: right
}

.priceUpdate .leftImg img {
	max-width: 100%
}

.priceUpdate .rightData {
	width: 74%
}

.priceUpdate .rightData .prodName {
	color: #017ac9;
	font-size: 18px;
	font-size: 1.125rem
}

.priceUpdate .skipForm {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 .625rem .5rem 0;
	color: #999
}

.ie8 .priceUpdate .skipForm {
	margin: 0 10px 8px 0
}

@keyframes textBlink {
	0% {
		color: #010ec0
	}
	100% {
		color: red
	}
}

.feedbackArea {
	background: #f5f7fa;
	border: 1px solid #dae2ed;
	padding: .9375rem .625rem;
	background: #fefce6;
	border: 1px solid #f3e33a;
	color: #000;
	font-size: 18px;
	font-size: 1.125rem
}

.ie8 .feedbackArea {
	padding: 15px 10px
}

.feedbackArea a {
	color: #010ec0;
	animation-name: textBlink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out
}

@media(max-width:75rem) {
	.dashboardBuyleads .buyleadsRow .buyleadNumber {
		width: 5%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 68%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation,
	.dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
		display: block;
		width: 100%;
		border: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadLocation,
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadDetail .buyleadDate {
		padding: 6px 0
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 24%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton .btn {
		padding: .625rem
	}
	.ie8 .dashboardBuyleads .buyleadsRow .buyleadButton .btn {
		padding: 10px
	}
	.dashboardContact ul li span {
		width: 100%
	}
	.dashboardContact .personalDetails .verification {
		float: left
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm {
		width: 80%
	}
}

@media(max-width:64rem) {
	.dashboardContact ul li span {
		width: auto;
		margin-right: .625rem
	}
	.ie8 .dashboardContact ul li span {
		margin-right: 10px
	}
	.middle-container-graph .horizontal-grpah {
		width: 66%
	}
	.middle-container-graph .vertical-graph {
		width: 33%
	}
	.modal-box {
		width: 50%
	}
	.priceUpdate {
		width: 95%!important
	}
}

@media(max-width:48rem) {
	.modal-box {
		width: 70%
	}
	.middle-container-graph .horizontal-grpah {
		width: 65%
	}
	.middle-container-graph .vertical-graph {
		width: 34%
	}
	.priceUpdate {
		width: 90%!important
	}
}

@media(max-width:40rem) {
	.dashboardInquiries .inquiryHeading {
		display: none!important
	}
	.dashboardInquiries .disTable .disTableRow .cell-1,
	.dashboardInquiries .disTable .disTableRow .cell-2,
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		margin-right: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-1,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-2,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-3,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-4 {
		padding: 6px 0
	}
	.dashboardInquiries .disTable .disTableRow .cell-1 {
		width: 75%
	}
	.dashboardInquiries .disTable .disTableRow .cell-2 {
		width: 25%
	}
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		width: 100%
	}
	.middle-container-graph .horizontal-grpah {
		width: 58%
	}
	.middle-container-graph .horizontal-grpah .inquiry-grpah {
		height: 100px
	}
	.middle-container-graph .vertical-graph {
		width: 41%;
		height: 496px
	}
	.middle-container-graph .vertical-graph .response .title {
		width: 85px;
		text-align: center;
		padding: .5rem .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		padding: 8px 10px
	}
	.middle-container-graph .vertical-graph .response .rate {
		float: right
	}
	.middle-container-graph .vertical-graph .feedback .title {
		width: 100%;
		text-align: center;
		margin-bottom: .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .feedback .title {
		margin-bottom: 10px
	}
	.middle-container-graph .vertical-graph .feedback .thumbs {
		margin: 0 auto;
		width: 100px;
		display: block;
		float: none
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 62%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 30%
	}
	.profileStrength {
		float: left;
		width: 100%;
		margin-bottom: .625rem
	}
	.ie8 .profileStrength {
		margin-bottom: 10px
	}
	.dashboardContact {
		display: inherit
	}
	.dashboardContact .personalDetails {
		width: 100%;
		margin: 0 0 .625rem 0
	}
	.ie8 .dashboardContact .personalDetails {
		margin: 0 0 10px 0
	}
	.dashboardContact .businessDetails {
		width: 100%
	}
	.requestQuotation .requestHeading .requestSideHeading {
		display: block;
		margin-left: 0
	}
	.ie8 .requestQuotation .requestHeading .requestSideHeading {
		margin-left: 0
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm {
		width: 100%
	}
	.priceUpdate .rightData label {
		line-height: 20px
	}
}

@media(max-width:30rem) {
	.dashboard-bar .dashboard-bar-bg .account-manager-area .account-manager-label {
		width: 70%;
		margin-right: 0
	}
	.ie8 .dashboard-bar .dashboard-bar-bg .account-manager-area .account-manager-label {
		margin-right: 0
	}
	.middle-container-graph .horizontal-grpah {
		width: 100%
	}
	.middle-container-graph .vertical-graph {
		width: 100%;
		margin-top: .625rem;
		height: 465px
	}
	.ie8 .middle-container-graph .vertical-graph {
		margin-top: 10px
	}
	.middle-container-graph .vertical-graph .response .title {
		width: auto;
		text-align: left;
		padding: 1.25rem 0 0 0;
		margin-right: .625rem
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		padding: 20px 0 0 0
	}
	.ie8 .middle-container-graph .vertical-graph .response .title {
		margin-right: 10px
	}
	.middle-container-graph .vertical-graph .response .rate {
		float: left
	}
	.middle-container-graph .vertical-graph .feedback {
		text-align: left
	}
	.middle-container-graph .vertical-graph .feedback .title {
		width: auto;
		margin-bottom: 0
	}
	.middle-container-graph .vertical-graph .feedback .thumbs {
		margin-left: .625rem;
		width: 100px;
		display: block;
		float: left
	}
	.ie8 .middle-container-graph .vertical-graph .feedback .thumbs {
		margin-left: 10px
	}
	.main-collaps-container .collapse-bar .rightbar .rightbar-box {
		width: 100%;
		margin: .5% 0
	}
	.dashboardInquiries .disTable .disTableRow .cell-1,
	.dashboardInquiries .disTable .disTableRow .cell-2,
	.dashboardInquiries .disTable .disTableRow .cell-3,
	.dashboardInquiries .disTable .disTableRow .cell-4 {
		width: 100%;
		margin-right: 0;
		padding: .375rem 0
	}
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-1,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-2,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-3,
	.ie8 .dashboardInquiries .disTable .disTableRow .cell-4 {
		padding: 6px 0
	}
	.dashboardBuyleads .buyleadsRow .buyleadNumber {
		width: 8%
	}
	.dashboardBuyleads .buyleadsRow .buyleadDetail {
		width: 90%
	}
	.dashboardBuyleads .buyleadsRow .buyleadButton {
		width: 100%;
		text-align: center
	}
	.profileStrength .strengthLabel {
		width: 100%
	}
	.profileStrength .profileEdit {
		margin-left: .3125rem
	}
	.ie8 .profileStrength .profileEdit {
		margin-left: 5px
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntL,
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntR {
		width: 100%;
		margin: .625rem 0 0 0
	}
	.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntL,
	.ie8 .requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .formCntR {
		margin: 10px 0 0 0
	}
	.requestQuotation .requestQuotationContainer .requestQuotationForm .formGroup .radioBtn {
		line-height: 20px
	}
	.modal-box {
		width: 90%
	}
	.verifyForm {
		width: 100%
	}
	.priceUpdate .leftImg {
		width: 100%;
		margin: 0;
		text-align: center
	}
	.priceUpdate .rightData {
		width: 100%;
		margin: 0
	}
	.priceUpdate .rightData .prodName {
		width: 100%;
		text-align: center;
		margin-bottom: .625rem
	}
	.ie8 .priceUpdate .rightData .prodName {
		margin-bottom: 10px
	}
	.priceUpdate .rightData .formGroup .labelCnt {
		width: 100%;
		margin-bottom: .4375rem
	}
	.ie8 .priceUpdate .rightData .formGroup .labelCnt {
		margin-bottom: 7px
	}
	.priceUpdate .rightData .formGroup .formCnt {
		width: 100%
	}
	.priceUpdate .priceNote ul li {
		width: 92%;
		margin: 0 .9375rem .3125rem .9375rem
	}
	.ie8 .priceUpdate .priceNote ul li {
		margin: 0 15px 5px 15px
	}
}

.btn {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	padding: .625rem .9375rem;
	font-size: 14px;
	font-size: .875rem;
	text-decoration: none;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block
}

.rightAdsBox {
	width: 100%;
	float: left;
	margin-bottom: .9375rem;
	position: relative;
	border: solid 1px #000
}

.rightAdsBox .addExpBtn {
	font-size: 12px;
	font-size: .75rem;
	background-color: #000;
	color: #fff;
	position: absolute;
	padding: 0 .3125rem;
	left: 0;
	top: 0;
	cursor: pointer
}

.rightAdsBox img {
	max-width: 100%;
	float: left
}

.expendAds {
	width: calc(100% - 10px);
	float: left;
	margin: .9375rem 0 0 .625rem;
	position: relative;
	border: solid 1px #000;
	display: none
}

.expendAds .addCloseBtn {
	font-size: 12px;
	font-size: .75rem;
	background-color: #000;
	color: #fff;
	position: absolute;
	padding: 0 .3125rem;
	right: 0;
	top: 0;
	cursor: pointer
}

.expendAds img {
	max-width: 100%;
	float: left
}